<div class='footer'>
  <div class='footer-contents'>
    <div class='flight-search-details'>
      <h2 class='footer-content-head'>FRIGHT-SEARCHについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'FRIGHT-SEARCH利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='flight-search-details'>
      <h2 class='footer-content-head'>FRIGHT-SEARCHを見る</h2>
      <ul>
        <li><%= link_to '航空会社一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'フライトスケジュール一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='flight-search-details'>
      <h2 class='footer-content-head'>FRIGHT-SEARCHについて</h2>
      <ul>
        <li><%= link_to 'FRIGHT-SEARCHガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'FRIGHT-SEARCHロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© FRIGHT SEARCH</p>
</div>